{% extends 'User/base.html' %}
{% block title%} Category Types {% endblock %}
{% block content %}
 <div style="margin-left: 5cm;">
<h1 class="ml"> All Posts </h1>


 

{% for item in post_menu_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      
      <h6 class="card-subtitle mb-2 text-muted">{{item.user.first_name}}_{{item.user.last_name}} </h6>
     
      <p class="card-text">{{item.text}}</p>
      <a href="#" class="card-link">{{item.created_at}}</a>
     
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}